@import "../src/styles/partials/global";
@import "../src/styles/partials/variables";
@import "../src/styles/partials/mixins";
@import "../src/styles/partials/typography";

.gradient-background {
    @include mobile{
    background: linear-gradient(to right, #a8edea  , #fed6e3);
    color: #333; }
    @include tablet{
        background-color: #a8edea;  
    }
    
  }