.uplift{
    margin: 3rem 2rem;
}

.breathing-container {
    animation-name: breathing;
  } 

.container {
    margin:2rem auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    animation-name: breathing;
    animation-duration: 19s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
    box-shadow: inset 0 0 0 3px teal;
    z-index: -1;
}

.container:after {
    content: 'breathe in';
    position: absolute;
    color: rgba(255, 255, 255, .7);
    top: calc(50% - 10px);
    font-size: 24px;
    font-family: Helvetica;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    animation-name: text;
    animation-duration: 19s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.container:before {
    content: '';
    width: 16px;
    height: 50%;
    position: absolute;
    display: block;
    top: 0;
    left: calc(50% - 8px);
    z-index: 999;
    background-image: radial-gradient(circle at top center, teal 0%, teal 8px, transparent 8px, transparent 100%);
    animation-timing-function: ease-in-out;
    transform-origin: center bottom;
    animation-name: breathing-rotate;
    animation-duration: 19s;
    animation-iteration-count: infinite;
}

.circle {
    width: 94%;
    height: 94%;
    border-radius: 50%;
    background: linear-gradient(to bottom, powderblue 0%, teal 100%);
    position: absolute;
    top: 3%;
    left: 3%;
}

.circle:before {
    content: '';
    width: 16px;
    height: 50%;
    position: absolute;
    display: block;
    top: -9px;
    left: calc(50% - 8px);
    background-image: radial-gradient(circle at top center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 8px, transparent 8px, transparent 100%);
}

.circle:after {
    content: '';
    width: 16px;
    height: 50%;
    position: absolute;
    display: block;
    bottom: -9px;
    left: calc(50% - 8px);
    background-image: radial-gradient(circle at bottom center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 8px, transparent 8px, transparent 100%);
}

@keyframes text {
    0%, 21% {
        content: 'breathe in';
    }
    22%, 58% {
        content: 'hold breath';
    }
    59%, 100% {
        content: 'breathe out';
    }
}

@keyframes breathing {
    0% {
        transform: scale(0.6); 
    }
    21% {
        transform: scale(1);     }
    58% {
        transform: scale(1); 
    }
    100% {
        transform: scale(0.6); 
    }
}

@keyframes breathing-rotate {
    0% {
        transform: rotate(0deg);
    }
    21% {
        transform: rotate(180deg); 
    }
    58% {
        transform: rotate(180deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}
