@import "../../styles/partials/mixins";

  .shadow{
    margin: 1.5rem;
    @include tablet{
    margin: 3rem;
    }
  }

  .journal__header{
    font-Size: 2.5em;
    display: inline-block;
    margin:10px;
  }

  .error{
    color:red;
  }

  .success{
    color: green;
  }

  .animation{
    width:100vh;
    @include tablet{
    width: 35%;
    }
  }