@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/fonts/Comfortaa-Light.ttf") format("truetype"),
    url("../../assets/fonts/Comfortaa-Light.woff") format("woff"),
    url("../../assets/fonts/Comfortaa-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/fonts/Comfortaa-Regular.ttf") format("truetype"),
    url("../../assets/fonts/Comfortaa-Regular.woff") format("woff"),
    url("../../assets/fonts/Comfortaa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/fonts/Comfortaa-Medium.ttf") format("truetype"),
    url("../../assets/fonts/Comfortaa-Medium.woff") format("woff"),
    url("../../assets/fonts/Comfortaa-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/fonts/Comfortaa-Bold.ttf") format("truetype"),
    url("../../assets/fonts/Comfortaa-Bold.woff") format("woff"),
    url("../../assets/fonts/Comfortaa-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
