$tablet-min-width: 48rem;
$desktop-min-width: 80rem;
$mobile-max-width: 47.9375rem;
$background-grey-color: #ebebeb;
$nav-grey-color:#37474f;
$lighter-black:#1a1a1a;
$yellow: #FFEB99;
$purple: #f0e6fa;
$blue: #C4E6FB;
$green: #C2F0C2;
$salmon: pink;
$header-blue: #667eea;
$header-purple:#764ba2;
$background-lavendar: #f0e6fa;
$background-linen: #faf0e6;
$text-white: #ffffff;
$error-red: red;
$success-green: green;
$text-orange: #fd7e14;
$text-blue: #00a7ba;
$emoji-background-color: #f2dd68;
$emoji-eye-color: #995710;
$emoji-mouth-color:#d8aa2b;
$emoji-heart-color:#e25d5d;
$emoji-angry-color:#e84747;
$emoji-angry-mouth-color:#7f2626