@import "../../styles/partials/mixins";
.insights {
  margin: 2rem 1rem;
  @include tablet{
    margin: 3rem 2rem;
  }
  &__charts {
    display: flex;
    flex-direction: column;
    &-title {
      margin-bottom: 3rem;
    }
    &-bar {
      margin-top: 3rem;
    }
    &-pie {
      margin-top: 3rem;
    }
  }
  &-bar {
    width: 100% !important;
    height: auto !important;
  }
  &__date{
    margin-top:16px;
  }
  &__heading{
    padding: 1.5rem 0 1rem 0;
  }
}

.date-picker {
  display: flex;
  flex-direction: column;
  margin-top:8px;
  
  @include tablet {
    padding-right: 8px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.react-datepicker {
  &-wrapper {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}
