@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
.hero {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  background-color: white;
  height: 55vh;
  @include tablet{
    height:35vh;
  } 
  @include desktop{
    height:auto !important;
  }   
  &__img {
    width: 90%;
  }
  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__img {
      width: 55%;
    }
  }
  @include desktop {
    &__img {
      width: 65%;
    }
  }

  &__title {
    color: #00a7ba;
    font-weight: 700;
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
       // width: 40%;
      }
      @include desktop {
        width: 30%;
      }
    }
  }
  &__subtitle {
    &-wrapper {
      color: #fd7e14;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10%;
    }
  }
}

.features{
padding: 1rem 1rem 5rem 1rem;
text-align: center;
    @include tablet{
        display: flex;
        align-items: flex-end;
    }
    &-image{
        &--track{
            width:100%;            
        }        
    }   
    &__card{
      flex: 1;
      margin: 1rem;
      padding: 1.5rem;
      border-radius: 8px;
      color: white;
      text-align: left;
      box-shadow:  0 4px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      &-1 {
        background-color: $yellow;
      }
      
      &-2 {
        background-color: $purple;
      }
      
      &-3 {
        background-color: $blue;
      }
      
      &-4 {
        background-color: $green;
      }
    }
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes slideUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideLeftRight {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.features__type h2, .features__type h5 {
  opacity: 0;
  animation: fadeInOut 5s ease-in-out infinite;
}

.features__type img {
  animation: slideUpDown 5s ease-in-out infinite;
}

.features__type--slideRight img {
  animation: slideLeftRight 5s ease-in-out infinite;
}
