@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
.hero {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  background-color: white;
  height: 55vh;
  @include tablet{
    height:35vh;
  }
  @include desktop{
    height: auto;
  }
  &__img {
    width: 90%;
  }

  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__img {
      width: 55%;
    }
  }
  @include desktop {
    &__img {
      width: 65%;
    }
  }

  &__title {
    color: #00a7ba;
    font-weight: 700;
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        width: 40%;
      }
      @include desktop {
        width: 30%;
      }
    }
  }
  &__subtitle {
    &-wrapper {
      color: #fd7e14;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10%;
    }
  }
}

.features{
padding: 1rem 1rem 5rem 1rem;
//background-color:darksalmon;
background-color: #ebebeb;
text-align: center;
    @include tablet{
        display: flex;
        align-items: flex-end;
    }
    &-image{
        &--track{
            width:100%;            
        }
        
    }
    &-title{
        display: flex;
        justify-content: center;
        //background-color: #ffe4e1;
        background: linear-gradient(to bottom, white, #ebebeb);
        font-weight: 700;
        height: 60px;
        // align-items: flex-end;
        @include desktop{
          padding-top: 6rem;
        }
    }
}
