@import "../../styles/partials/mixins";

.header{
&-custom {
   // background-color: white; 
    color: black;  
    //background-color: #37474F;   
    background: linear-gradient(	90deg, #667eea 0%, #764ba2 100%)
  }
  &__body{
    font-size: 1em;
    @include tablet{
      font-size: 1.5em;;
    }
  }
}