@import "../../styles/partials/mixins";

.reflect{
    display: flex;
    flex-direction: column;
    &__section{
        &-top{
            margin: 2rem 1rem;
            display: flex;
            flex-direction: column;
            @include tablet{
            margin: 3rem 2rem;
            flex-direction: row;
            justify-content: space-around;
            }
        }
        &-bottom{
            margin: 2rem 1rem;
            @include tablet{
                margin: 3rem 2rem;
            }
        }
    }
}

