@import "../../styles/partials/mixins";

.reflect{
    display: flex;
    flex-direction: column;
    &__section{
        &-top{
            padding: 2rem 1rem;
            display: flex;
            flex-direction: column;
            @include tablet{
            padding: 3rem 2rem;
            flex-direction: row;
            justify-content: space-around;
            }
        }
        &-bottom{
            padding: 1rem;
            @include tablet{
                padding: 1rem 2rem;
            }
        }
        &-header{
            padding-bottom: 1rem;
        }
    }
}

